<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Library Project</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">
        <script src="../scripts/library.js" type="text/javascript" charset="utf-8" defer></script>
    </head>
    <body>
        <button class="add-book" onclick="showForm()">NEW BOOK</button>
        <form class="book-form-hide" id="book-form">
            <label for="title">Book Title:</label><br>
            <input type="text" id="title" name="title" required><br>
            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author" required><br>
            <label for="pages">Pages (Integers Only):</label><br>
            <input type="text" id="pages" name="pages" pattern="\d*" required><br>
            <p>Have you read this book?</p>
            <input type="radio" id="yes-read" name="read" value="yes" checked required>
            <label for="yes-read">Yes</label>
            <input type="radio" id="no-read" name="read" value="no">
            <label for="no-read">No</label><br>
            <input type="submit" class="submit-button" value="Submit">
        </form>
        <div class="card-container" id="card-container"></div>
    </body>
</html>