.card-container {
    max-width: 80rem;
    width: auto;
    min-height: 60rem;
    height: auto;
    margin-top: 2vh;
    margin-left: 20vw;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    border-style: double;
    border-color: black;
    border-width: 10px 10px 10px 10px;
}

.card {
    width: 30%;
    min-width: 200px;
    height: 15rem;
    margin: 5% 5% 0 5%;
    background-color: #d3d3d3;
    border-style: solid;
    border-color: black;
    border-width: 5px 5px 5px 5px;
}


.card-text-content {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.card-remove-button {
    margin-left: 40%;
}

.add-book {
    margin-left: 40vw;
    margin-top: 2vh;
}

.book-form-hide {
    margin-left: 40vw;
    margin-top: 2vh;
    display: none;
}

.book-form-show {
    margin-left: 40vw;
    margin-top: 2vh;
    display: block;   
}

.submit-button {
    margin-top: 1vh;
}