.card-container {
    max-width: 80rem;
    width: auto;
    min-height: 60rem;
    height: auto;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    border-style: double;
    border-color: black;
    border-width: 10px 10px 10px 10px;
}

.card {
    width: 20%;
    min-width: 200px;
    height: 15rem;
    margin: 5% 5% 5% 5%;
    background-color: #d3d3d3;
    border-style: solid;
    border-color: black;
    border-width: 5px 5px 5px 5px;
}


.card-text-content {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}